* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #7685b1;
}

svg {
    cursor: url('pin.png'), auto;
    fill: aliceblue;
  }

svg path{
    fill: #b9e47c;
    stroke: #000000;
    stroke-width: .25;
}

svg path:hover {
    fill: #006284;
    transition: 0.3s;
    cursor: pointer;

}

.flag {
    fill: red;
    stroke: black;
    stroke-width: 1px;
  }